<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FLAGRANT SYSTEM ERROR</title>
    <link href="{% static 'css/bootstrap.flatly.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/404_error.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container animated shake" style="min-height:100vh;display:flex;align-items:center;text-align:center;">
        <div class="row" style="width:100%">
            <p style="font-size:2.6em">FLAGRANT SYSTEM ERROR</p>
            <p style="font-size:2em;margin-top:5vh;">Computer Over.<br/>Virus = Very Yes.</p>
        </div>
    </div>
<div style="position:fixed;top:10px;left:10px">
    < GO BACK
</div>
</body>
</html>