@font-face {
    font-family: 'C64';
    src: url('../fonts/C64_Pro_Mono-STYLE.woff2') format('woff2'),
         url('../fonts/C64_Pro_Mono-STYLE.woff') format('woff');
}

body{
    font-family: 'C64', sans-serif;
    color: #FAFDFF;
    background-color: #455FD8;
}