.igsbviewer-modal-edit-button,
.igsbviewer-modal-delete-button,
.igsbviewer-view-report,
.igsbviewer-modal-share-button{
    cursor: pointer;
}

.viewer-no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}