<div class="container">
	<h2>Delete Contact: {{ name }}</h2>
    <p>Are you sure you want to delete '{{ name }}'?
    <form enctype="multipart/form-data" method="post" action="/viewer/contact/delete_contact/{{ pk }}/">
		{% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary">No</button>
                <button type="button" class="btn btn-primary">No</button>
                <button type="button" class="btn btn-primary">No</button>
                <button type="button" class="btn btn-primary">No</button>
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-trash"></span>&nbsp;&nbsp;Yes
                </button>
            </div>
        </div>
	</form>
	<br>
</div>