<div class="container">
	<h2>Edit Contact: {{ name }} | {{ project_name }}</h2>
    <form enctype="multipart/form-data" method="post" action="/viewer/contact/edit_contact/{{ pk }}/">
		{% csrf_token %}
        {% for field in contact_form %}
        <div class="row" style="margin-bottom:8px">
            <div class="col-sm-2">
                {% if field.name != 'project' %}
                {{ field.label_tag }}
                {% endif %}
            </div>
            <div class="col-sm-6">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-pencil-square-o"></span>&nbsp;&nbsp;Update
                </button>
            </div>
        </div>
	</form>
	<br>
</div>