<div class="container">
	<h2>Delete Sample: {{ name }}</h2>
    <p>Are you sure you want to delete '{{ name }}'?<br/>
    This will also delete everything associated with this sample.</p>
    <form enctype="multipart/form-data" method="post" action="/viewer/sample/delete_sample/{{ pk }}/">
		{% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary">No</button>
                <button type="button" class="btn btn-primary">No</button>
                <button type="button" class="btn btn-primary">No</button>
                <button type="button" class="btn btn-primary">No</button>
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-trash"></span>&nbsp;&nbsp;Yes
                </button>
            </div>
        </div>
	</form>
	<br>
</div>