{% extends "viewer/base.html" %}
{% load staticfiles %}
{% block extra_js %}
<script>
$(document).ready(function(){
    new jBox('Modal', {
        attach: $('.modal_button'),
        content: $('#modal_box'),
        overlay: true,
        closeOnClick: 'overlay',
        closeButton: 'box'
    });
});
</script>
{% endblock %}

{% block content %}
<!-- Modal box content -->
<div class="container" id="modal_box" style="display:none">
	<h2>Create a New Sample</h2>
	<form action="/viewer/new_sample/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in sample_form %}
        <div class="row" style="margin-bottom:8px">
            <div class="col-sm-2">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-6">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-plus-square"></span>&nbsp;&nbsp;Create
                </button>
            </div>
        </div>
	</form>
	<br/>
</div>
<!-- End Modal box content -->
<div class="container">
	<h2>Available Samples:</h2>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Study</th>
				<th>Sample</th>
				<th>Description</th>
				<th>% Cellularity</th>
				<th>Creation Date</th>
			</tr>
		</thead>
		<tbody>
			{% for s in samples %}
				<tr>
					<td>{{s.study}}</td>
					<td><a href="/viewer/sample_edit/{{s.pk}}/" title="edit sample" data-tooltip>{{s.name}}</a></td>
					<td>{{s.description}}</td>
					<td>{{s.cellularity}}</td>
					<td>{{s.creation_date}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    <button type="button" class="btn btn-primary btn-sm modal_button">
        <span class="fa fa-plus-square"></span>&nbsp;&nbsp;Create New Sample
    </button>
</div>

{% endblock %}
