{% extends "viewer/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" style="text-align: 'center'">
	<p>
	<h2>Edit Sample: {{ name }}</h2>
    <form enctype="multipart/form-data" method="post" action="/viewer/sample_edit/{{ pk }}/">
		{% csrf_token %}
        <table>
            {{ sample_form.as_table }}
        </table>
        <a class="btn btn-default" href="{% url 'new_sample' %}">Cancel</a>
		<input type="submit" class="btn btn-primary" value="Update" />
	</form>
	<br>
</div>
{% endblock %}