{% extends 'viewer/base.html' %}
{% block content %}
<div class="container">
    <h2>Change Password</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="row" style="margin-bottom:8px">
            <div class="col-sm-2">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-6">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}