{% load staticfiles %}
<nav id="msidebar" class="sidebar sidebar-default sidebar-fixed-left" role="navigation">

    <!-- Sidebar header -->
    <div class="sidebar-header header-cover" style="background-color: #2c3e50">
        <!-- Top bar -->
        <div class="top-bar"></div>
        <!-- Sidebar toggle button -->
        <button type="button" class="sidebar-toggle">
            <i class="fa fa-shopping-cart"></i>
        </button>
        <!-- Sidebar brand image -->
        <div class="sidebar-image">
            <img src="http://www.igsb.org/images/uploads/alec-v.jpg">
        </div>
        <!-- Sidebar brand name -->
        <a data-target="#top" class="sidebar-brand sidebar-dropdown-toggle" href="#">
            {{ user.first_name }} {{ user.last_name }}
            <b class="caret"></b>
        </a>
    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li class="dropdown2">
            <ul class="dropdown-menu sidebar-dropdown-menu" id="top">
                <li>
                    <a href="#" tabindex="-1">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Change Password
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Help
                    </a>
                </li>
                <li class="divider"></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon md-inbox"></i>
                Inbox
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon md-star"></i>
                Starred
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon md-send"></i>
                Sent Mail
            </a>
        </li>
        <li>
            <a href="#">
                <i class="sidebar-icon md-drafts"></i>
                Drafts
            </a>
        </li>
        <li class="divider" id="projects_dropdowns"></li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <i class="sidebar-icon fa fa-sign-out"></i>
                Logout
            </a>
        </li>
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div> -->

    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</nav>