{% extends "viewer/base.html" %}

{% block extra_js %}
<script type="text/javascript">
jQuery(document).ready(function(){
	$('select[name=study]').change(function(){
		var study_id = $(this).val();
		var options = [];
		var request_url = '/viewer/get_samples/' + study_id + '/';
		$.getJSON(
			request_url,
			function(data){
				$.each(data, function(key, val) {
					options.push('<option value="' + key + '">' + val + '</option>');
				});
				$('select[name=sample]').html(options.join('\n'));
			}
		);
	});

    new jBox('Modal', {
        attach: $('.modal_button'),
        content: $('#modal_box'),
        overlay: true,
        closeOnClick: 'overlay',
        closeButton: 'box'
    });
});
</script>
{% endblock %}


{% block content %}
<!-- Modal box content -->
<div class="container" id="modal_box" style="display:none">
	<h2>Create a New Bionimbus ID</h2>
    <form action="/viewer/new_bionimbus_id/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in study_selector_form %}
        <div class="row" style="margin-bottom:8px">
            <div class="col-sm-2">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-6">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        {% for field in bnid_form %}
        <div class="row" style="margin-bottom:8px">
            <div class="col-sm-2">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-6">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-plus-square"></span>&nbsp;&nbsp;Create
                </button>
            </div>
        </div>
    </form>
	<br/>
</div>
<!-- End Modal box content -->
<div class="container">
	<h3>Available Bionimbus IDs:</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Study</th>
				<th>Sample</th>
				<th>Sample Desc.</th>
				<th>Bionimbus ID</th>
				<th>BnID Desc.</th>
				<th>Creation Date</th>
			</tr>
		</thead>
		<tbody>
			{% for b in bnids %}
			<tr>
				<td>{{b.sample.study}}</td>
				<td>{{b.sample.name}}</td>
				<td>{{b.sample.description}}</td>
				<td><a href="/viewer/bnid_edit/{{ b.pk }}/" title="edit bnid" data-tooltip>{{b.bnid}}</a></td>
				<td>{{b.description}}</td>
				<td>{{b.creation_date}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    <button type="button" class="btn btn-primary btn-sm modal_button">
        <span class="fa fa-plus-square"></span>&nbsp;&nbsp;Create New Bionimbus ID
    </button>
</div>
{% endblock %}
